/* * Google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* * Fontawesome (icons) Link */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');
@import url("./variables.css");
@import url("./reset.css");

/* * FOOTER START */
footer {
    background-color: #161C2D;
    padding-block: 50px;
    margin-top: 70px;
}

.footer-box {
    display: flex;
    gap: 40px;
    color: #FFFFFF;
    padding-block: 50px;
}

.footer-desc strong {
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
}

.footer-desc p {
    font-size: 15px;
    opacity: 0.65;
    margin-block: 40px;
    line-height: 26px;
}

.footer-desc ul {
    display: flex;
    gap: 25px;
}

.footer-desc ul li a {
    color: #7D818D;
}

.footer-desc ul li a:hover,
.footer-item ul li a:hover {
    color: #68D585;
}

.footer-desc,
.footer-item {
    padding-block: 50px;
}

.footer-item {
    width: 35%;
}

.footer-item span {
    font-size: 15px;
    display: inline-block;
    opacity: 0.65;
    line-height: 26px;
    margin-bottom: 20px;
}

.footer-item ul li a {
    display: inline-block;
    margin-block: 10px;
    font-size: 17px;
    color: #FFFFFF;
}

/* * FOOTER END */