@media only screen and (max-width:1140px) {
    .container {
        width: 90%;
    }

    /* * SIGN IN START */
    .sign-header {
        padding-block: 20px;
        font-size: 20px;
    }

    h1 {
        font-size: 45px;
    }

    .title {
        font-size: 16px;
        margin-block: 25px 45px;
    }

    form {
        padding: 25px 20px;
    }

    .form-item {
        margin-bottom: 18px;
    }

    label {
        font-size: 12px;
        margin-bottom: 5px;
    }

    input {
        padding: 8px 14px;
    }

    input[type="submit"] {
        font-size: 13px;
        margin-top: 20px;
    }

    .question {
        font-size: 15px;
        margin-block: 30px;
    }

    /* * SIGN IN END */


    /* * GLOBAL HEADER START */
    .global-header {
        padding-block: 20px;
    }

    .logo a {
        font-size: 20px;
    }

    .nav-item {
        padding: 0px 8px;
    }

    .nav-link {
        font-size: 13px;
    }

    .btns a {
        padding: 0px 5px;
        font-size: 15px;
    }

    /* * GLOBAL HEADER END */


    /* * HERO SECTION START*/
    .hero-content {
        width: 60%;
    }

    .hero-content h1 {
        width: 50%;
        font-size: 35px;
        line-height: 40px;
        padding-bottom: 10px;
    }

    .hero-content p {
        width: 70%;
        line-height: 25px;
        font-size: 15px;
    }

    .hero-img {
        width: 30%;
    }

    .hero-img img {
        width: 100%;
        height: 100%;
    }

    /* * HERO SECTION END*/


    /* * COMPANIES SECTION START*/
    .companies-area {
        width: 600px;
    }

    .companies {
        padding-block: 50px;
    }

    .companies-content h3 {
        font-size: 25px;
        padding-bottom: 20px;
    }

    .companies-content p {
        padding-inline: 30px;
        font-size: 15px;
        line-height: 24px;
    }

    .companies-logo {
        gap: 30px;
        padding-top: 30px;
    }

    /* * COMPANIES SECTION END*/

    /* *CATEGORY SECTION START*/
    #category {
        padding: 100px 0;
    }

    .category-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .category-content h4 {
        font-size: 25px;
        line-height: 20px;
        padding-bottom: 10px;
    }

    .category-content p {
        width: 320px;
        font-size: 15px;
        line-height: 20px;
    }

    .category-cards {
        justify-content: center;
        padding-top: 40px;
        gap: 20px;
    }

    .category-card {
        width: 300px;
        border-radius: 10px;
        padding: 25px 20px;
    }

    .category-card strong {
        font-size: 16px;
        line-height: 25px;
    }

    .category-card p {
        font-size: 13px;
    }

    /* *CATEGORY SECTION END*/


    /* * FOOTER START */
    footer {
        padding-block: 30px;
        margin-top: 50px;
    }

    .footer-box {
        gap: 30px;
        padding-block: 30px;
    }

    .footer-desc strong {
        font-size: 20px;
        line-height: 20px;
    }

    .footer-desc p {
        font-size: 10px;
        margin-block: 20px;
        line-height: 18px;
    }

    .footer-desc ul li a {
        font-size: 14px;
    }

    .footer-desc ul {
        gap: 15px;
    }

    .footer-desc,
    .footer-item {
        padding-block: 10px;
    }

    .footer-item span {
        font-size: 13px;
        line-height: 5px;
        margin-bottom: 10px;
    }

    .footer-item ul li a {
        margin-block: 5px;
        font-size: 14px;
    }

    /* * FOOTER END */


    /* * SUPPORT START */
    #support {
        padding-block: 10px;
    }


    .support-title {
        margin-block: 20px;
    }

    .support-title h1 {
        font-size: 40px;
        line-height: 30px;
        margin-bottom: 35px;
    }

    .support-title p {
        font-size: 15px;
        line-height: 32px;
        opacity: 0.7;
        width: 640px;
        justify-self: center;
    }

    .support-item {
        margin-block: 43px;
    }

    .support-item strong {
        font-size: 19px;
        margin-bottom: 20px;
        display: inline-block;
    }

    .support-desc p {
        font-weight: 400;
        font-size: 17px;
        line-height: 29px;
        opacity: 0.7;
    }

    .security ul li {
        list-style-type: disc;
        list-style-position: inside;
    }

    .security ul li p {
        display: inline-block;
    }

    .embedded p:first-child {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width:767px) {

    /* * GLOBAL HEADER START */
    .global-header {
        padding-block: 10px;
    }

    .logo a {
        font-size: 15px;
    }

    .nav-item {
        padding: 0px 5px;
    }

    .nav-link {
        font-size: 8px;
    }

    .btns a {
        padding: 0px 3px;
        font-size: 10px;
    }

    /* * GLOBAL HEADER END */


    /* * GLOBAL HERO SECTION START */
    .hero-content h1 {
        width: 40%;
        font-size: 13px;
        line-height: 15px;
        padding-bottom: 5px;
    }

    .hero-content p {
        width: 70%;
        line-height: 13px;
        font-size: 8px;
    }

    /* * GLOBAL HERO SECTION END */


    /* * COMPANIES SECTION START*/
    .companies-area {
        width: 100%;
    }

    .companies {
        padding-block: 20px;
    }

    .companies-content h3 {
        font-size: 13px;
        padding-bottom: 10px;
    }

    .companies-content p {
        width: 65%;
        padding-inline: 4px;
        font-size: 8px;
        line-height: 16px;
    }

    .companies-logo {
        gap: 20px;
        padding-top: 20px;
    }

    .companies-logo img {
        width: 50px !important;
        height: 10px !important;
    }

    /* * COMPANIES SECTION END*/


    /* *CATEGORY SECTION START*/
    #category {
        padding: 50px 0;
    }

    .category-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .category-content h4 {
        font-size: 13px;
        line-height: 10px;
        padding-bottom: 10px;
    }

    .category-content p {
        width: 170px;
        font-size: 8px;
        line-height: 10px;
    }

    .category-cards {
        justify-content: center;
        padding-top: 20px;
        gap: 10px;
    }

    .category-card {
        width: 200px;
        border-radius: 10px;
        padding: 15px 20px;
    }

    .category-card strong {
        font-size: 13px;
        line-height: 15px;
    }

    .category-card p {
        font-size: 8px;
    }

    /* *CATEGORY SECTION END*/

    /* * SIGN IN START */
    .sign-header {
        padding-block: 10px;
        font-size: 15px;
    }

    h1 {
        font-size: 25px;
    }

    .title {
        font-size: 10px;
        margin-block: 15px 30px;
    }

    form {
        padding: 20px 15px;
    }

    .form-item {
        margin-bottom: 12px;
    }

    label {
        font-size: 12px;
        margin-bottom: 6px;
    }

    input {
        padding: 5px 10px;
    }


    input[type="submit"] {
        font-size: 10px;
        padding-block: 8px;
        margin-top: 10px;
    }

    .question {
        font-size: 10px;
        margin-block: 20px;
    }

    /* * SIGN IN END */


    /* * FOOTER START */
    footer {
        padding-block: 10px;
        margin-top: 30px;
    }

    .footer-box {
        gap: 8px;
        padding-block: 10px;
    }

    .footer-desc strong {
        font-size: 10px;
        line-height: 4px;
    }

    .footer-desc p {
        font-size: 6px;
        margin-block: 10px;
        line-height: 12px;
    }

    .footer-desc ul li a {
        font-size: 10px;
    }

    .footer-desc ul {
        gap: 5px;
    }

    .footer-desc,
    .footer-item {
        padding-block: 3px;
    }

    .footer-item span {
        font-size: 5px;
        line-height: 3px;
        margin-bottom: 6px;
    }

    .footer-item ul li a {
        margin-block: 4px;
        font-size: 6px;
    }

    /* * FOOTER END */
}