@import url(../global/global.css);

@keyframes btnAnimation {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    100% {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
    }
}

header {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 1;
    text-align: center;
    padding-block: 25px;
    font-size: 24px;
    font-weight: 700;
    font-family: var(--fontRubik)
}

header a {
    color: #161C2D;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F7FA;
    padding: 50px;
    font-family: var(--fontRoboto)
}

h1 {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    margin-block: 35px 55px;
    color: #161C2D;
    opacity: 0.7;
}

form {
    padding: 30px 25px;
    background-color: #FFFFFF;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 34px 33px -23px #161C2D21;
}

.form-item {
    margin-bottom: 25px;
}

label {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 7px;
    display: inline-block;
}

input {
    display: block;
    padding: 12px 18px;
    border: 1px solid #E7E9ED;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    width: 100%;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.focus-input:focus {
    outline: none;
    border: 1px solid #473BF0;
}

input[type="submit"] {
    display: inline-block;
    padding-block: 15px;
    background-color: #473BF0;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 700;
    margin-top: 30px;
    cursor: pointer;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    animation: btnAnimation 1s ease 1s infinite alternate;
    -webkit-animation: btnAnimation 1s ease 1s infinite alternate;
}

input[type="submit"]:hover {
    background-color: #473bf0b0;
    color: #ffffff;
}

.question {
    font-size: 17px;
    margin-block: 40px;
    font-weight: 400;
    text-align: center;
}

.question a:hover {
    text-decoration: underline;
    color: green;
}