@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* HEADER */
header {
    padding-top: 21px !important;
    background-color: var(--heroColor);
}

.logo a {
    color: var(--mainBlue);
    font-family: var(--fontRubik);
    font-size: 28px;
    font-weight: 700 ;
}

.nav-item {
    padding: 0px 20px;
}

.nav-link {
    color: var(--mainBlue);
    font-size: 15px;
    font-weight: 700;
}

.active {
    color: var(--colorOrange);
}

.btns a {
    color: var(--mainBlue);
    padding: 0px 10px;
}

/* HERO*/
.hero-section {
    background-color: var(--heroColor);
}

.hero-content {
    width: 518px;
}

.hero-content h1 {
    width: 430px;
    font-family: var(--fontRoboto);
    font-weight: 700;
    font-size: 60px;
    line-height: 65px;
    color: var(--mainBlue);
    padding-bottom: 21px;
}

.hero-content p {
    width: 368px;
    font-weight: 400;
    line-height: 32px;
    font-size: 19px;
    opacity: 0.5;
    color: var(--mainBlue);
}

.hero-img img {
    width: 481px;
    height: 689px;
    padding-top: 56px;
}
/* COMPANIES*/
.companies{
    padding-top: 114px;
    min-height: 100%;
}
.companies-content h3{
    font-weight: 700;
    font-size: 36px;
    padding-bottom: 30px;
    text-align: center;
}
.companies-content p{
    width: 686px;
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    opacity: 0.5;
    text-align: center;
}
.companies-logo{
    padding-top: 63px;  
}