@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* HEADER */
header {
    padding-block: 21px !important;
    background-color: var(--heroColor);
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo a {
    color: var(--mainBlue);
    font-family: var(--fontRubik);
    font-size: 28px;
    font-weight: 700;
}

.nav-item {
    padding: 0px 20px;
}

.nav-link {
    color: var(--mainBlue);
    font-size: 15px;
    font-weight: 700;
}

.nav-item a:hover {
    color: var(--colorOrange);
}

.btns a {
    color: var(--mainBlue);
    padding: 0px 10px;
}

/* HERO*/
.hero-section {
    background-color: var(--heroColor);
}

.hero-content {
    width: 518px;
}

.hero-content h1 {
    width: 430px;
    font-family: var(--fontRoboto);
    font-weight: 700;
    font-size: 60px;
    line-height: 65px;
    color: var(--mainBlue);
    padding-bottom: 21px;
}

.hero-content p {
    width: 368px;
    font-weight: 400;
    line-height: 32px;
    font-size: 19px;
    opacity: 0.5;
    color: var(--mainBlue);
}

.hero-img img {
    width: 481px;
    height: 689px;
    padding-top: 56px;
}

/* COMPANIES*/
.companies {
    padding-top: 114px;
    min-height: 563px;
}

.companies-area {
    width: 766px;
}

.companies-content h3 {
    font-weight: 700;
    font-size: 36px;
    padding-bottom: 30px;
    text-align: center;
}

.companies-content p {
    width: 686px;
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    opacity: 0.5;
    text-align: center;
}

.companies-logo {
    padding-top: 63px;
}

/* CATEGORY*/
.category {
    background-color: var(--mainBlue);
    padding-top: 132px;
    padding-bottom: 144px;
    /* padding: 50px 0; */
    height: 100%;
}

.category-content h4 {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    padding-bottom: 20px;
    color: var(--White);
}

.category-content p {
    width: 388px;
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    opacity: 0.5;
    color: var(--White);
}

.category-cards {
    padding-top: 65px;
    gap: 30px;
    color: var(--mainBlue);
}

.category-card {
    width: 350px;
    height: 117px;
    border-radius: 10px;
    background-color: var(--White);
    transition: all 0.3s ease; 
}
.category-card:hover {
    color: var(--White);
    background-color: var(--oceanBlue);
    transform: translateY(-9px);
}
.card-content{
    padding: 32px 27px ;
}
.card-content h6{
    padding-bottom: 15px;
}
