
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* HEADER */
header {
    padding-top: 21px !important;
}
.logo h4{
    color: var(--mainBlue);
}
.nav-item{
   padding: 0px 20px;
}
.nav-link{
    color: var(--mainBlue);
    font-size: 15px;
    font-weight: 700;
}
.active{
    color: var(--colorOrange);
}
.btns a{
   color: var(--mainBlue);
   padding: 0px 10px;
}
