header {
    text-align: center;
    padding-block: 25px;
    font-size: 24px;
    font-weight: 700;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F7FA;
}

h1{
    font-size: 60px;
    font-weight: 700;
}

.title{
    font-size: 19px;
    font-weight: 400;
}
form{
    padding: 30px 25px;
    background-color: #FFFFFF;
}

input{
    display: block;
    padding: 12px 18px;
    border: 1px solid #E7E9ED;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    width: 100%;
}